

.home {
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  position: relative;
  isolation: isolate;
  
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.home::after {
  content: '';
  position: fixed;
  z-index: -1;
  inset: 0;
  background-size: auto;
  opacity: 60%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: url('../../images/alphabet/backgroundOne.png');
}

.top-front-page {
  margin-top: 5%;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.greetings {
  z-index: 0;
}

.bottom-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .top-front-page {
    margin-top: 65%;
    flex-direction: column;
  }
}
