.profile-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 6%;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.profile-page::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 60%;
    background-image: url('../../images/backgroundImages/Fotor_AI\ \(5\).png');
  }

.info-section {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.section {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

}

.text-align {
    text-align: center;
}

.tech-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.skill {
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}