.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-top: 13%;
}

.card-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  
  
}

.create-group-input {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.group-card {
  text-decoration: none;
  background-color: aliceblue;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
