.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  content: '';
  position: absolute;
  z-index: -1;

  inset: 0;
  border-radius: 10px;
  background-image: url('../../images/alphabet/Fotor_AI\ \(5\).png');
}
.login-inputs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
