.search-group-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-section {
    display: flex;
    gap: 1rem;
}

.search-section {
    margin-top: 3%;
}

.name-search {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
